<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userService" class="com.server.moneyball.user.UserServiceImpl">
		<property name="userLoginDao" ref="userLoginDao" />
		<property name="userSignUpDao" ref="userSignUpDao" />
		<property name="userModifyDao" ref="userModifyDao" />
	</bean>
	
	<bean id="unlockService" class="com.server.moneyball.unlock.UnlockServiceImpl">
		<property name="unlockDao" ref="unlockDao"/>
	</bean>
	
	<bean id="bettingService" class="com.server.moneyball.betting.BettingServiceImpl">
		<property name="saveUserBettingDao" ref="saveUserBettingDao"/>
	</bean>

</beans>

